version: "3.10"

services:
  postgres:
    image: postgres:latest
    container_name: signature-service-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: signature_service
      POSTGRES_USER: signature_user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

