spring:
  application:
    name: sign-service
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/sign_service
    username: postgres
    password: password
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml
server:
  port: 8080
logging:
  level:
    root: INFO

